body {
   margin: 0;
}

/*-----------------------------------*/

#dates a, #dates a:visited {
  color: #e0827b;
  text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}


#dates a:hover {
	color: #A74949;
}

#issues a, #issues a:visited {
  color: #6C2A2A;
}

#timeline {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    background: url(https://www.csslab.cl/ejemplos/timelinr/latest/images/dot.gif) 3px top repeat-y;
}

#dates {
    width: 13%;
    padding: 0px;
}

#dates li {
	font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  list-style: none;
	line-height: 1.5em;
	padding-left: 16px;
  background: url('https://www.csslab.cl/ejemplos/timelinr/latest/images/biggerdot.png') left center no-repeat;
  margin-bottom: 15px;
  margin-top: 15px;
}

#issues {
    scroll-behavior: smooth;
    list-style: none;
    width: calc(100% - 13%);
    height: calc(100vh -  380px);
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;

}
#issues > li {
    width: 100%;
    padding: 30px;
    min-height: 50vh;
}

#issues li h2 {
	color: #6C2A2A;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 35px;
	text-align: center;
  margin-top: -8px;
}


#issues li p {
  color: #A74949;
  font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
}

#issues h2 + p {
  margin-top: -15px;
}
.demands li {
  padding: 0px;
  line-height: 20px;
  font-size: 18px;
  color: #A74949;
  width: calc(100% - 15%);

}
.demands {
  margin-top: -15px;
}

#issues li .pics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

/*------------------------------*/
@media (max-width: 1520px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 274.64px 120px 55px 1fr;
    grid-template-areas:
       "a"
       "b"
       "c"
       "d" ;
  }
  .logo {
    background-position: center;
  }

  .header {
    text-align: center;
    line-height: 10px;
    margin-bottom: 5px;
    padding: 0px;
  }

}


@media (max-width:1488px) {

	#dates {
		display: none;
	}

	#issues {
		height: 100%;
		width: 100%;
	}
}

@media (max-width: 1107px) {
.header {
  padding-left: 50px;
  padding-right: 50px;
  line-height: 60px;
  margin-top: -25px;
}
.logo {
  background-size: 800px;
  padding: 5px;
}
}

@media (max-width: 1084px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
    line-height: 60px;
    margin-top: -25px;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-rows: 274.64px 50px 55px 1fr;
  }
}

@media (max-width: 840px) {
  .logo {
  background-size: 450px 170px;
  margin-top: 2px;
  }
  .container {
    grid-template-rows: 150px 40px 40px 1fr;
  }

  .header {
    font-size: 35px;
  }

  .navi {
    font-size: 18px;
  }

  #issues li h2 {
    font-size: 25px;
  }

  #issues li p {
    font-size: 17px;
  }

  .demands li {
    font-size: 17px;
  }
}

@media (max-width: 634px) {
  .header {
    font-size: 25px;
  }
  #issues li .pics {
    display: none;
  }

  #issues li {
    padding-bottom: 0px;

  }

}

@media (max-width: 414px) {
  .container {
    grid-template-rows: 140px 30px 20px 1fr;
  }

  .logo {
    background-size: 390px 140px;
    margin: 2px;
  }
  .header {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
    margin-right: 0px;
  }

  .navi {
    word-spacing: 50px;
    font-size: 15px;
  }

  #issues li h2 {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 25px;
  }

  #issues li p {
    font-size: 15px;
    line-height: 20px;
  }

  .demands li {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .logo {
    background-size: 230px 90px;
    margin-top: -20px;
  }

  .container {
    grid-template-rows: 100px 20px 20px 1fr;
  }

  .header {
    font-size: 15px;
  }

  .navi {
    font-size: 13px;
  }

  #issues li h2 {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -20px;
  }

  #issues li p {
    font-size: 13px;
    line-height: 16px;
  }

  .demands li {
    font-size: 13px;
    line-height: 16px;
  }
}
