body * {
   width: 100%;
   box-sizing: border-box;
}

.header {
  grid-area: b;
  background-color: #f9bfbb;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  padding-left: 20px;
  text-align: left;
  padding-right: 5px;

}

.content h2 {
  font-family: 'Nunito Sans', sans-serif;
	font-size: 35px;
  text-align: center;

}

.socials a:link, .email a:link {
  text-decoration: none;
  color: #6C2A2A;
}


.socials a:visited, .socials a:visited {
  color: #6C2A2A;
}

.content a:hover {
  color: #A74949;
}

.join-button {
  margin-top: 100px;
  margin-bottom: 80px;
}

.join-button a {
  background-color: #A74949;
  color: #FFE8DE;
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
}

.join-button a:hover {
  background-color: #BF6565;
  color: #FFE8DE;


}

.feed-on {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
}

.feed-off {
  display: none;
}

.socials h2 {
  text-align: center;
}


/*media queries*/
@media (max-width: 1530px) {
  .header {
    font-size: 45px;
  }
}

@media (max-width: 1520px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 274.64px 120px 55px 1fr;
    grid-template-areas:
       "a"
       "b"
       "c"
       "d";
  }

  body * {
    width: auto;
  }

  .header {
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .feed-on {
    display: none;
  }
  .email {
    margin-bottom: 80px;
  }
  .feed-off {
    display: block;
  }

  .logo {
    background-size: 800px;
    padding: 5px;
  }

  .navi {
    font-size: 25px;
  }
}

@media (max-width: 1099px) {
  .header {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 0px;
  }
}

@media (min-width: 767px) and (max-width: 1024px)  {
  .header {
    padding-left: 50px;
    padding-right: 50px;
    line-height: 60px;
    margin-top: -25px;
  }
}

@media (max-width: 767px) {
  .logo {
  background-size: 450px 170px;
  margin-top: 2px;
  }

  .header {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 55px;
    padding-left: 50px;
    padding-right: 50px;

  }
  .navi {
    margin-top: -15px;
    font-size: 18px;

  }
  .container {
    grid-template-rows: 130px 140px 20px 1fr;
  }
}

@media (max-width: 597px) {
  .header {
    font-size: 25px;
  }
  .content h2 {
    font-size: 20px;
    margin: 0px;
  }

  .join-button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .email {
    margin: 5px;
  }
}

@media (max-width: 414px) {
  .container {
    grid-template-rows: 140px 90px 20px 1fr;
  }

  .logo {
    background-size: 390px 140px;
    margin: 2px;
  }
  .header {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
    margin-right: 0px;
  }

  .navi {
    word-spacing: 50px;
    font-size: 15px;
  }

}

@media (max-width: 360px) {
  .logo {
    background-size: 330px 130px;
  }
}
