/* COLORS
banner pink: #f9bfbb
banner orange: #eca108
title txt color: #370101
navi txt color: #6C2A2A
hover txt color: #A74949

FONTS
headers = font-family: 'Nunito Sans', sans-serif;
body = font-family: lato

*/

body {
   margin: 0;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 300px 50px 1fr;
   grid-template-areas:
      "a b "
      "c c "
      "d d ";
   min-height: 100vh;
   background-color: #f9bfbb;
}

.logo {
  grid-area: a;
  background-size: cover;
  background-position: center;
}

.header {
  grid-area: b;
  background-color: #f9bfbb;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  padding-left: 20px;
  text-align: left;
  padding-right: 5px;
}

.navi {
  grid-area: c;
  background-color: #f9bfbb;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  color: #370101;
  text-align: center;
  word-spacing: 100px;
  padding-bottom: 15px;

}

.content {
  grid-area: d ;
  background-color: white;
}


.navi a:link, a:visited {
  text-decoration: none;
  color: #6C2A2A;
}

.navi a:hover {
  color: #A74949;
}

.header a:link, a:visited {
  text-decoration: none;
  color: #370101;
}

.sections {
  width: 100%;
  position: absolute;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #A74949;
}

.content h2 {
  font-family: 'Nunito Sans', sans-serif;
	font-size: 35px;
  text-align: center;
  color: #6C2A2A;
}

.content p,li {
  font-family: Lato;
  font-size: 20px;
  line-height: 30px;
}

.values,.aims {
  width: 500px;
  height: 400px;
  padding: 10px;
}

.about-us {
  align-self: center;
  height: 360px;
  width: 420px;
  border-radius: 50%;
  text-align: center;
  background-color: #FFE8DE;
  padding-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-us p {
  padding-left: 40px;
  padding-right: 40px;
}


/*media queries -- header*/
@media (max-width: 1540px) {
  .logo {
    background-size: 800px;
    background-repeat: no-repeat;
  }
  .header {
    font-size: 40px;
  }
@media (max-width: 1520px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: .6fr .1fr .1fr 1fr;
    grid-template-areas:
       "a"
       "b"
       "c"
       "d" ;
  }
  .logo {
    background-position: center;
  }

  .header {
    text-align: center;
    line-height: 10px;
    margin-bottom: 5px;
    padding: 0px;
  }
}

@media (max-width: 1100px) {
  .header {
    line-height: 80px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .logo {
    background-size: 750px 270px;
    margin-top: 10px;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .1fr .1fr 1fr;
    grid-template-areas:
       "a"
       "b"
       "c"
       "d" ;
  }
  .header h1 {
    margin: 0px;
  }
  .navi {
    padding: 5px;
    padding-bottom: 0px;
  }
}


@media (max-width: 995px) {
  .header {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 768px) {
  .logo {
  background-size: 450px 170px;
  margin-top: 2px;
  }

  .header {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    line-height: 50px;
    padding-left: 50px;
    padding-right: 50px;

  }
  .navi {
    margin-top: -15px;
    font-size: 18px;

  }
  .container {
    grid-template-rows: 130px 140px 20px 1fr;
  }
}
@media (max-width: 450px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 414px) {
  .container {
    grid-template-rows: 140px 90px 20px 1fr;
  }

  .logo {
    background-size: 390px 140px;
    margin: 2px;
  }
  .header {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
    margin-right: 0px;
  }

  .navi {
    word-spacing: 50px;
    font-size: 15px;

  }
}

@media (max-width: 360px) {
  .logo {
    background-size: 330px 130px;
  }
}

/*for content*/
@media (max-width: 1370px) {
  .sections {
    display: block;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px; */
  }
  .values,.aims {
    width: auto;
    height: auto;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .about-us {
    align-self: center;
    height: auto;
    width: auto;
    border-radius: 0px;
    text-align: center;
    background-color: #FFE8DE;
    padding-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .about-us p {
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -25px;
  }
}

@media (max-width:1000px ) {
  .sections {
    margin-top: 0px;
  }
  .values,.aims {
    margin-left: 100px;
    margin-right: 100px;
  }
  .about-us p {
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -25px;
  }
}

@media (max-width: 550px) {
  .values,.aims {
    margin-left: 50px;
    margin-right: 50px;
  }
}


@media (max-width: 414px) {
  .content h2 {
    font-size: 20px;
  }

.sections p,li {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
}
.values,.aims {
    margin-left: 20px;
    margin-right: 20px;
  }

.about-us p {
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
}
}
